@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

p{
  font-size: medium;
  color : white;
}

html {
  margin:0;
  padding:0;
  background: url(img/coucher_soleil_flou.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #ff6600;
  background: #ff6600;
  font-weight: normal;
  color: #ffffff;
}

form input{
  padding: 5px;
}

form input[type="submit"]{
  color: white;
  background-color: #ff6600;
  border: solid #ffffff 1px;
  border-radius: 3px;
}

form input[type="submit"]:hover{
  cursor: pointer;
  color: white;
  background-color: #b34700;
  border: solid #fff 1px;
}

button{
  color: white;
  background-color: #ff6600;
  border: solid #ffffff 1px;
  padding: 5px;
  border-radius: 3px;
}

button:hover{
  cursor: pointer;
  color: white;
  background-color: #b34700;
  border: solid #fff 1px;
}

div#tabs{
}

div#tabs-1, div#tabs-2{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.resultats {
  padding-top: 70px;
}

.barreRechercheFixed {
  position: fixed;
  display: block;
  border: none;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 600px;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -300px;
  text-align: center;
}

.barreRechercheFixed * {
  font-size: 18px;
  line-height: normal;
  vertical-align: middle;
}

.barreRechercheFixed button {
  display: none;
}

.barreRechercheNormal {
  position: fixed;
  display: block;
  border: none;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 800px;
  top: 10px;
  left: 50%;
  margin-left: -400px;
  text-align: center;
}

.barreRechercheNormal * {
  font-size: 18px;
  line-height: normal;
  vertical-align: middle;
}

.barreRechercheNormal button {
  display: inline-block;
}

.progress {
  position: fixed;
  top: 60%;
  margin: auto;
  width: 250px;
  vertical-align: middle;
  left: 50%;
  margin-left: -100px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
}

.progress img {
  height: 50px;
}
