@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

p{
  font-size: medium;
  color : white;
}

#resultats{
  width: 50%;
  margin: 0 auto;
}

html {
  margin:0;
  padding:0;
  background: url(img/coucher_soleil_flou.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #ff6600;
  background: #ff6600;
  font-weight: normal;
  color: #ffffff;
}

form input{
  padding: 5px;
}

form input[type="submit"]{
  color: white;
  background-color: #ff6600;
  border: solid #ff6600 1px;
}

form input[type="submit"]:hover{
  cursor: pointer;
  color: white;
  background-color: #b34700;
  border: solid #b34700 1px;
}

div#tabs{
  width: 740px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

div#tabs-1, div#tabs-2{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
