@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

p{
  font-size: medium;
}

html {
  margin:0;
  padding:0;
  background-color: #EAEAEA;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #ff6600;
  background: #ff6600;
  font-weight: normal;
  color: #ffffff;
}

form input{
  padding: 5px;
}

form input[type="submit"]{
  color: white;
  background-color: #ff6600;
  border: solid #ffffff 1px;
  border-radius: 3px;
}

form input[type="submit"]:hover{
  cursor: pointer;
  color: white;
  background-color: #b34700;
  border: solid #fff 1px;
}

button{
  color: white;
  background-color: #ff6600;
  border: solid #ffffff 1px;
  padding: 5px;
  border-radius: 3px;
}

button:hover{
  cursor: pointer;
  color: white;
  background-color: #b34700;
  border: solid #fff 1px;
}

div#tabs{
}

div#tabs-1, div#tabs-2{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.resultats {
  padding-top: 70px;
  color : #004181;
}

.barreRechercheFixed {
  position: fixed;
  display: block;
  border: none;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  width: 900px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -450px;
  text-align: center;
  background-color: #004181;
  border-radius: 5px;
}

.barreRechercheFixed * {
  font-size: 18px;
  line-height: normal;
}

.barreRechercheFixed form {
  vertical-align: middle;
  margin-top: 80px;
}

.barreRechercheFixed button {
  display: none;
}

.barreRechercheNormal {
  position: fixed;
  display: block;
  border: none;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: #004181;
  padding: 10px 0px;
}

.barreRechercheNormal * {
  font-size: 18px;
  line-height: normal;
  vertical-align: middle;
}

.barreRechercheNormal button {
  display: inline-block;
}

.progressBar {
  position: fixed;
  top: 65%;
  width: 250px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
}

.progressBar img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.progressBar p {
  color: #004181;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#mainTitre {
  position: absolute;
  top: -80px;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  color: #004181;
  text-align: left;
}

#mainAuteurs {
  position: absolute;
  top: -30px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #004181;
  text-align: left;
}
